/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFF;
}




/* Top Section CSS Starts From Here */

.top-section{
    display: flex;
    background-color: #161616;
    width: 1250px;
    height: 630px;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.top-section-div1{
    width: 50%;
    margin-left: 70px;
    margin-top: 20px;
}

.top-section-div2{
    width: 50%;
}

.top-section-div1 h1{
    font-size: 70px;
    color: #FFFF;

}

.top-section-div1 p{
    font-size: 16px;
    color: rgb(159, 157, 157);
    margin-top: -50px;

}

.top-section-button{
    margin-top: 10px;
    font-size: 17px;
    background-color: #DD0000;
    color: white;
    border: none;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.top-section-div2 img{
    width: 520px;
    height: 600px;
    margin-left: 10px;
    margin-top: 30px;
}



/* Top Section Transition Style CSS Starts From Here */
.top-section-div2 img:hover{
    background-image: url(../assets/champion.jpg);
    width: 60%;
    height: 70%;
    margin-top: 90px;
    margin-left: 65px;
    border-radius: 10%;
    border-left: 2px solid red;
    border-right: 2px solid red;
    transform: translate(50px) scale(1.5);

 }




/* Middle Section CSS Starts From Here */

.middle-section{
    display: flex;
    margin-bottom: 100px;
}

.middle-section-div1{
    width: 22%;
    height: 230px;
    margin-top: 80px;
    background-color: #161616;
    margin-left: 50px;
    border-radius: 10px;
}

.middle-section-button1{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 17px;
    background-color: #FFFF;
    color: black;
    border: none;
    border-radius: 10px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin-bottom: 30px;
}


.middle-section-button2{
    margin-top: -17px;
    margin-left: 32px;
    font-size: 17px;
    background-color: #FFFF;
    color: black;
    border: none;
    border-radius: 10px;
    padding-left: 45px;
    padding-right: 72px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.middle-section-button3{
    margin-top: 17px;
    margin-left: 32px;
    font-size: 17px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 45px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.middle-section-button1:hover{
    background-color: rgb(66, 66, 208);
    color: white;
   
}


.middle-section-div2{
    width: 78%;
    margin-top: 80px;
    margin-left: 20px;
    
}

.middle-section-photo-gallary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    margin-left: -40px;
}

.middle-section-div2 img{
    width: 300px;
    height: 175px;
    border-radius: 10px;
}

.transfer-button{
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
}


.middle-section-div2 h3{
    font-size: 18px;
    color: black;
}

.individual-player-photo{
    width: 300px;
    height: 347px;
    border-radius: 10px;
    border: 1px solid rgb(198, 196, 196);
    box-shadow: 10px 10px 10px rgb(225, 222, 222);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.icon-and-all, .individual-player-photo h3, .transfer-button{
    margin-left: 15px;
}
.icon-and-all{
    color: #817f7f;
}




/* View All Button Section CSS Starts From Here */

.view-all-button{
    margin-top: 0px;
    margin-left: 460px;
    font-size: 17px;
    background-color: #DD0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 70px;

}




/* Footer Section CSS Starts From Here */

footer{
    background-color: black;
    height: 444px;
    width: 100%;
 }

 hr{

    width: 85%;
    margin-bottom: 50px;

 }

 .copyright{
    padding-top: 30px;
 }

 .copyright a{
    text-decoration: none;
    color: #B9B9B9;
    margin-left: 80px;
    padding-left: 15px; 
 }

 .copyright a:hover{
    color: rgb(75, 75, 255);
 }

 .copyright p{
    color: #D9DBE1;
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
 }

 .copyright h2{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 80px;
    margin-bottom: 50px;
 }

 .social-media{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;

 }

 .social-media a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
 }

 .fa-linkedin,  .fa-instagram, .fa-twitter, .fa-youtube  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 40%;
    background-color: #201f39;
 }

 .fa-linkedin:hover{
    color: #0A66C2;
 }

 .fa-instagram:hover{
    color: #E4405F;
 }

 .fa-twitter:hover{
    color: #1DA1F2;
 }

 .fa-youtube:hover{
    color: #CD201F;
 }







/* -------------------------------------
  Responsive Website Design For Mobile Devices (Considered Screen Size upto 480px)
 ------------------------------------- */
 @media only screen and (min-width: 1px) and (max-width: 480px) {
    
    .view-all-button{
        display: none;
    }

    .top-section{
        display: block;
        background-color: #161616;
        width: 970px;
        height: 1300px;
        border-radius: 30px;
        margin-bottom: 30px;
    }


    .top-section-div1, .top-section-div2{
        width: 80%;
    }

    .top-section-div1 h1{
        font-size: 70px;
        color: #FFFF;
        margin-left: 100px;
        padding-top: 90px;
    
    }

    .top-section-div1 p{
        font-size: 16px;
        color: rgb(159, 157, 157);
        margin-top: -50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 60px;
        margin-bottom: 30px;
    
    }

    .top-section-button{
        margin-top: 10px;
        margin-left: 350px;
    }


    .top-section-div2 img{
        width: 600px;
        height: 825px;
        margin-left: 250px;
        margin-top: 50px;
    }


    .top-section-div2 img:hover{
        margin-top: 180px;
        margin-left: 210px;
     }

     .middle-section{
        display: block;
    }
    
    
    .middle-section-div1{
        display: inline;
        width: 100%;
        background-color: white;
        margin-top: 15px;
        width: 1200px;
        margin-top: 200px;
        margin-bottom: 50px;
        margin-left: 70px;
        
    }

    .middle-section-buttons{
        margin-left: 300px;
        width: 100%;
    }

    .middle-section-button1, .middle-section-button2, .middle-section-button3{
        border: 2px solid rgb(177, 171, 171);
        border-radius: 10px;
        margin-top: 30px;
        padding-left: 10px;
        width: 80%;
       
    }

    .middle-section-button1{
        margin-bottom: 0px;
    }


    .middle-section-div2{
        margin-left: 120px;
    }

    .middle-section-photo-gallary{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 40px;
        margin-top: 130px;
        margin-left: 235px;
    
    }

    .individual-player-photo{
        margin-bottom: 40px;
    }

    .footer-section{
        width: 1000px;
        height: 900px;
        margin-top: -50px;
    }

    .copyright a{
        display: block;
        margin-left: 430px;
        padding-top: 50px;
    }

    #footer-contact-us{
        margin-left: 435px;
    }


    #footer-terms-of-service{
        margin-left: 415px;
    }
    #footer-priavcy-settings{
        margin-left: 420px;
    }

    #footer-goal-app{
        margin-left: 445px;
    }

    #footer-goal-live{
        margin-left: 445px;
    }


}






 /* -------------------------------------
  Responsive Website Design For Tablet Devices (Considered Screen Size Minimum 481px To Maximum 768px)
 ------------------------------------- */

 @media only screen and (min-width: 481px) and (max-width: 768px) {
    
   
    .middle-section{
        display: block;
    }
    
    
    .middle-section-div1{
        background-color: white;
        margin-top: 15px;
        width: 1200px;
        margin-top: 200px;
        margin-bottom: 50px;
        margin-left: -170px;
        
    }


    .middle-section-div2{
        margin-top: -20px;
    }


    .middle-section-buttons{
        display: flex;
        margin-bottom: 100px;
        background-color: white;
        margin-left: 530px;
    }


    .middle-section-button1, .middle-section-button2, .middle-section-button3{
        border: 2px solid black;
        border-radius: 10px;
        margin-top: 30px;
        padding-left: 10px;
       
    }

    .middle-section-div2{
        margin-left: 120px;
    }

    .middle-section-photo-gallary{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 40px;
        margin-top: -130px;

        margin-left: 260px;
    }

    .individual-player-photo{
        margin-bottom: 40px;
        
    }

    .view-all-button-div{
        width: 1500px;
        margin-left: 150px;

    }

    .view-all-button{
        display: inline;
        margin-top: -20px;
        padding-left: 70px;
    }

    .footer-section{
        width: 1400px;
    }

    #footer-contact-us, #footer-terms-of-service, #footer-priavcy-policy, #footer-priavcy-settings{
        margin-left: 170px;
    }

    #footer-goal-app{
        margin-left: 550px;
    }


 }






 /* -------------------------------------
  Responsive Website Design For Large Devices (Considered Screen Size between 770px to 1200px)
 ------------------------------------- */
 @media only screen and (min-width: 769px) and (max-width: 1279px) {
    
    .view-all-button{
        display: none;
    }

    .footer-section{
        width: 1450px;
    }

    .middle-section-buttons{
        height: 250px;
        background-color: #161616;
        border-radius: 10px;
        margin-left: -10px;
    }

    .middle-section-div2{
        margin-left: 70px;
        width: 50%;
    }

    .individual-player-photo{
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -10px;
    }

    .middle-section-div1{
        width: 270px;
    }

    .copyright a{
        margin-left: 105px;
    }

}




/* -------------------------------------
  Responsive Website Design For Extra Large Devices (Considered Screen Size more than 1201px)
 ------------------------------------- */

 @media screen and (min-width: 1280px) and (max-width: 2000px) {
    
    .view-all-button{
        display: none;
    }

    .middle-section-div1{
        width: 270px;
    }

    .middle-section-div2{
        margin-left: 70px;
        width: 50%;
    }

    .copyright {
        margin-left: 10px;
    }

    .copyright a{
        margin-left: 85px;
    }

    


 }



 /* -------------------------------------
  Responsive Website Design For Super Extra Large Devices (Considered Screen Size more than 2001px)
 ------------------------------------- */

 @media screen and (min-width: 2001px) {
    
    .view-all-button{
        display: none;
    }

    .middle-section-div1{
        width: 270px;
    }

    .middle-section-div2{
        margin-left: 70px;
        width: 50%;
    }

    .top-section{
        width: fit-content;
    }

    .middle-section-photo-gallary{
        
        width: 1610px;
    }

    .middle-section-div2 img{
        width: 420px;
        height: 355px;
        border-radius: 10px;
    }


    .individual-player-photo{
        width: 420px;
        height: 550px;
        border-radius: 10px;
        border: 1px solid rgb(198, 196, 196);
        box-shadow: 10px 10px 10px rgb(225, 222, 222);
        margin-bottom: 35px;
        padding-bottom: 20px;
        padding-left: 10px;
    }


    .copyright a{
        margin-left: 200px;
    }
    
 }

